body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background: linear-gradient(to right, #069089, #080487);
  padding-top: 50px;
}

.marcador {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.opciones { margin: 30px 0; }

.boton-opcion {
  font-size: 2rem;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 10px;
  background: linear-gradient(to right, #9206f0, #f00b89);
  transition: 0.3s;
}

.boton-opcion:hover {
  background: linear-gradient(to right, #f73b89, #f0910b);
  transform: scale(1.1);
}

.resultado {
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 20px;
}
@media (max-width: 600px) {

    .opciones {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .boton-opcion {
        font-size: 1.8rem;
        padding: 12px 18px;
        margin: 5px;
        min-width: 90px;
        min-height: 70px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .marcador {
        gap: 15px;
        font-size: 1.2rem;
        flex-wrap: wrap;
    }

    .resultado {
        font-size: 1rem;
        margin: 15px 10px;
        padding: 15px;
    }
}

    p {
        font-size: 16px;
    }
}
